fastapi==0.127.0
httpx==0.28.1
protobuf>=4.21.6,<5.0.0
pydantic==2.12.5
python-dotenv==1.2.1
redis==7.1.0
SQLAlchemy==2.0.45
supabase==2.27.0
uvicorn==0.40.0
psycopg2-binary
alembic==1.13.1
# fuzzywuzzy==0.18.0 #Switching for rapidfuzz
rapidfuzz==3.6.1
google-cloud-pubsub==2.27.1

